@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
  background-color: #02090d;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  margin: 0;
}

header{
  display: block;
  margin: 1% auto;
  height: 4.8em;
  vertical-align: middle;
}

.logo{
  display: inline-block;
  margin: 0 auto;
  width: 10%;
  position: absolute;
  right: 25em;
}
.img :hover{
  text-decoration: none;
  transform: scale(1.05);
}
.link_left, .link_right{
  display: inline-block;
  width: 40%;
  height: 100%;
  text-align: center;
}
.link_left{
  float: left;
}
.link_right{
  float: right;
}

.link{
  display: inline-block;
  width: 49%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
  line-height: 4.8em;
}

.link:hover{
  text-decoration: underline;
  color: #1ba2e6;
  font-size: 1.05em;
}
.textbg{
  position: static;
  height: inherit;
  font-family: Arial, serif;
  font-weight: bold;
  width: 30%;
  float: right;
  margin-right: 11.5%;
  background-color: rgba(96, 96, 96, 0.5);
  transform: skewX(-30deg);
  overflow: hidden;
}
.textbg h1, .textbg p{
    font-family: Arial, serif;
    font-style: italic;
    transform: skewX(30deg); /*выровнял текст*/
}
.artCaption{
  margin: 30% 5%;
  font-size: 2em;
  color: #1ba2e6;
  text-shadow:                /*обводка текста*/
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
}
.textbg p{
  margin: 0 5%;
  font-size: 0.95em;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 3px #000000;
}
.arrow{
  width: 5%;
  height: 100%;
  background-image: url("img/arrow_right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 5%;
}
.arrow:hover{
  background-color: rgba(96, 96, 96, 0.5);
}
.rght{
  background-image: url("img/arrow_right.png");
  float: right;
}
.rght:hover{
  background-image: url("img/arrow_right_hover.png");
}
.lft{
  background-image: url("img/arrow_left.png");
  float: left;
}
.lft:hover{
  background-image: url("img/arrow_left_hover.png");
}
