@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
  background-color: #02090d;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  margin: 0;
}

header{
  display: block;
  margin: 1% auto;
  height: 4.8em;
  vertical-align: middle;
}

.logo{
  display: inline-block;
  margin: 0 auto;
  width: 10%;
  position: absolute;
  right: 25em;
}
.img :hover{
  text-decoration: none;
  transform: scale(1.05);
}
.link_left, .link_right{
  display: inline-block;
  width: 40%;
  height: 100%;
  text-align: center;
}
.link_left{
  float: left;
}
.link_right{
  float: right;
}

.link{
  display: inline-block;
  width: 49%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
  line-height: 4.8em;
}

.link:hover{
  text-decoration: underline;
  color: #1ba2e6;
  font-size: 1.05em;
}
.about{
  color: #ffffff;
  height: 22.5em;
  margin: 1% 0;
  background-image: url("img/Cube_left.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;
}
.textAbout {
  width: 45%;
  text-align: right;
  float: right;
  margin-top: 3%;
  margin-right: 5%;
}
.text h1, .text p {
  float: right;
  text-align: right;
}
.text h1 {
  font-size: 2.2em;
}
.text p {
  font-size: .85em;
  line-height: 1.5em;
  vertical-align:  middle;
}
.input{
  display: auto;
}
.questionnaire{
  height: 22.5em;
  background: url("img/Cube_right.png") no-repeat;
  background-size: contain;
  background-position: right;
}
.form_title{
  text-align: center;
}
.q_user{
  border: 1px red solid;
  width: 35%;
  padding: 5%;
  height: 80%;
  color: #fff;
}
.q_user input, .q_user textarea{
 background-color: inherit; 
 border-radius: 15%;
 border-color: #fff;
 color: #fff;
 margin-left: 10%;
}
.q_user label{
  margin-left: 10%;
  font-size: 0.65em;
}
#userName, #userMail, #userComment{
  width: 70%;

}
.q_user input:focus {
  border-color: #1ba2e6;
  background-color: inherit;
}