@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
  background-color: #02090d;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 10000px;
}

header{
  display: block;
  margin: 1% auto;
  height: 4.8em;
  vertical-align: middle;
}

.logo{
  display: inline-block;
  margin: 0 auto;
  width: 10%;
  position: absolute;
  right: 25em;
}

.link_left, .link_right{
  display: inline-block;
  width: 40%;
  height: 100%;
  text-align: center;
}
.link_left{
  float: left;
}
.link_right{
  float: right;
}

.link{
  display: inline-block;
  width: 49%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
  line-height: 4.8em;
}

.link:hover{
  text-decoration: underline;
  color: #1ba2e6;
  font-size: 1.05em;
}
.img :hover{
  text-decoration: none;
  transform: scale(1.05);
}
.first_article{
  height: 22.5em;
  background-image: url("img/sky.jpg");
  overflow: hidden;
}
.text{
  height: inherit;
  width: 30%;
  float: right;
  margin-right: 12.5%;
  background-color: rgba(96, 96, 96, 0.5);
  transform: skewX(-30deg);
}
