.background_article_in_the_main_page_popup, .article_in_the_main_page_popup, .for_elements_by_article{
	transition: all .5s ease-in-out;
}

.background_article_in_the_main_page_popup{
	position: fixed; 
	top: 0;
	min-height: 100%;	
	width: 100%;
	background-color: rgba(0, 12, 18, .95);
}
.article_in_the_main_page_popup {
	position: absolute;
	top: 10%;
	left: 5%;
	border-radius: .3em;
	height: 80%;
	width: 90%;
	box-shadow: -4.53px 7.8555px 12.075px 4.466px rgba(16, 94, 133, 0.49);
	background-color: #062433;
	color: #fff;
}
.for_elements_by_article{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
.bg_for_article_script{
	position: absolute;
	height: 100%;
	width: 100%;
}

.arrow_buttons{
	width: 3%;
	height: 100%;
	position: relative;
	z-index: 100;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 5%;
}

.rght_2{
	background-image: url("../img/arrow_right.png");
	float: right;
	transition: .2s ease-in-out;
}
.rght_2:hover{
	background-image: url("../img/arrow_right_hover.png");
	background-color: #05202c;
}

.lft_2{
	background-image: url("../img/arrow_left.png");
	float: left;
	transition: .2s ease-in-out;
}
.lft_2:hover{
	background-image: url("../img/arrow_left_hover.png");
	background-color: #05202c;
}

/* -----------------------ARTICLE---------------------- */
.article_info {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 35%;
	width: 30%;
	background-color: rgba(27,162 ,230 ,.2);
	color: #fff;
	border-radius: .3em 0 0;
	z-index: 100;
}
.photo_in_article {
	
}
.left_photo {

}
.right_photo {

}
.photo_in_article_center {

}

.article_name{
	font-size: 1.3em;
	text-align: center;
}