@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
  background-color: #02090d;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  margin: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
header{
  display: block;
  background-color: #02090d;
  width: 100%;
  margin: 0 auto;
  padding-top: 1%;
  z-index: 100;
  height: 4.8em;
  vertical-align: middle;
}

.logo{
  display: inline-block;
  margin: 0 5%;
  width: 10%;
    transition: all .5s ease-in-out;
}
.link_left, .link_right{
  width: 40%;
  height: 100%;
  text-align: center;
  line-height: 4.8em;
}
.link_left{
  float: left;
}
.link_right{
  float: right;
}
.link{
  display: inline-block;
  width: 49%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  transition: 1s;
}
.link:hover{
  text-decoration: underline;
  color: #1ba2e6;
  font-size: 1.05em;
}
.about{
  position: relative;
  color: #ffffff;
  height: 22.5em;
  margin: 1% 0;
  background-image: url("../img/Cube_left.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;
}
.textAbout {
  width: 45%;
  text-align: right;
  float: right;
  margin-top: 3%;
  margin-right: 5%;
}
.text h1, .text p {
  float: right;
  text-align: right;
}
.text h1 {
  font-size: 2.2em;
}
.text p {
  font-size: .85em;
  line-height: 1.5em;
  vertical-align:  middle;
}
.input{
  display: auto;
}
.contact{
  position: relative;
  height: 22.5em;
  background: url("../img/Cube_right.png") no-repeat;
  background-size: contain;
  background-position: right;
  margin-bottom: 4%;
}
.form_title{
  text-align: center;
}
.q_user{
  width: 40%;
  padding: 5%;
  padding-top: 2%; 
  height: 80%;
  color: #fff;
}
.q_user input, .q_user textarea{
 background-color: inherit; 
 border: 1px #fff solid;
 color: #fff;
 margin-left: 10%; 
 border-radius: 0.5em;
}
.q_user label{
  margin-left: 10%;
  font-size: 0.65em;
}
#userName, #userMail, #userComment{
  width: 70%;
  padding: 1.5%;
  font-size: 0.9em;
}
.for_textarea_height{
  height: 6em;
}
#userComment {
  padding: 1.5% 1%;
  resize: none;
}
.q_user input:focus , #userComment:focus {
  border: 1px #1ba2e6 solid;
  background-color: inherit;
  outline: none;
}
.q_user input[type="submit"]{
  border: none;
}
.button_in_form{
  position: absolute;
  height: 5%;
  text-align: center;
  width: 10%;
  left: -4%;
  border: none;
  background-image: url("../img/button_in_form_not_active.png");
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;
  cursor: pointer;
}
.button_in_form:focus{
  background-image: url("../img/button_in_form_active.png");
  font-weight: bold;
}
.footer{
  width: 100%;
  position: relative;
  background-color: #02090d;
}
.line {
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #1ba2e6;
  left: 10%;
}
.bottom_line {
  bottom: 10%;
}
.uper_line {
  top: 1%;
}
.bottom_img{
  cursor: pointer;
}
.link:hover > .img_social{
  text-decoration: none;
  transform: scale(1.2);
}
.footer .logo{
  margin-top: 2%;
}
.logo:hover {
  text-decoration: none;
  transform: scale(1.05);
}
.img_social {
  width: 60%;
    transition: all .5s ease-in-out;

}
.footer .link{
  width: 15%;
  margin-top: 8%;
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
}
.footer .link:hover{
  text-decoration: none;
}
.colum{
  display: inline-block;
  width: 33%;
  color: #fff;
  text-align: center;
}
.colum h1{
  font-size: 1.3em;
}
.footer menu{
  list-style: none;
  padding: 0;
}
footer a:hover{
  text-decoration: underline;
  color: #1ba2e6;
}
.colum li{
  display: inline;
}
.first_col li{
  line-height: 362.5%;
}
.second_col li{
  line-height: 200%;
}
.third_col li{
  line-height: 200%;
}
.copyright{
  color: #fff;
  text-align: center;
  font-size: 0.6em;
}
.anchor{
  position: absolute;
  top:0;
}

/* Slider */
.slider-container{
  position: relative;
  width: 100%;
  height: 22.5em;
  overflow: hidden;
}
.slide img{
  position: absolute;
}
.slide{
  height: 100%;
}
.textbg{
  position: relative;
  color: #fff;
  height: 100%;
  width: 30%;
  text-align: center;
  background-color: rgba(96, 96, 96, 0.5);
  transform: skew(-30deg);
  margin: 0 auto;
  margin-left: 50%;
  overflow: hidden;
}
.artCaption, .textbg p{
  transform: skew(30deg);
}
.artCaption{
  margin-top: 30%;
  color: #1ba2e6;
  text-shadow:                /*обводка текста*/
  -0   -2px 0   #000000,
  0   -2px 0   #000000,
  -0    2px 0   #000000,
  0    2px 0   #000000,
  -2px -0   0   #000000,
  2px -0   0   #000000,
  -2px  0   0   #000000,
  2px  0   0   #000000,
  -1px -2px 0   #000000,
  1px -2px 0   #000000,
  -1px  2px 0   #000000,
  1px  2px 0   #000000,
  -2px -1px 0   #000000,
  2px -1px 0   #000000,
  -2px  1px 0   #000000,
  2px  1px 0   #000000,
  -2px -2px 0   #000000,
  2px -2px 0   #000000,
  -2px  2px 0   #000000,
  2px  2px 0   #000000,
  -2px -2px 0   #000000,
  2px -2px 0   #000000,
  -2px  2px 0   #000000,
  2px  2px 0   #000000;
}
.textbg p{
  display: block;
  width: 85%;
  margin: 20% auto;
  font-size: 0.95em;
  text-shadow: 1px 1px 3px #000000;
}
.arrow{
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  cursor: pointer;
  background-image: url("../img/arrow_right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 5%;
  transition: .5s  ease-in-out;
}
.arrow:hover{
  background-color: rgba(96, 96, 96, 0.5);
}
.rght{
  right: 0;
  background-image: url("../img/arrow_right.png");
  border-radius: 100% 0 0 100%;
}
.rght:hover{
  background-image: url("../img/arrow_right_hover.png");
}
.lft{
  left: 0;
  background-image: url("../img/arrow_left.png");
  border-radius: 0 100% 100% 0;
}
.lft:hover{
  background-image: url("../img/arrow_left_hover.png");
}
div.dots{
  display: inline-block;
  position: absolute;
  width: 10%;
  height: 6%;
  top: 90%;
  left: 50%;
}
.dot {
  cursor: pointer;
  width:21%;
  height:100%;
  position: relative;
  display: inline-block;
  background-image: url("../img/button_not_active.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .6s ease-in-out;
}
.active, .dot:hover {
  background-image: url("../img/button_active.png");
  transform: scale(1.1);
}
.fade{
  -webkit-animation-name: fade;
  -o-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2.5s;
  -o-animation-duration: 2.5s;
  animation-duration: 2.5s;
}
@-webkit-keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}
@-o-keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}
@-moz-keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}
@keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}